---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Viviana Soriano">
  <div class="grid grid-rows-2 grid-cols-4 gap-5 px-10 my-5">
    <div class="row-span-2 col-span-2 bg-neutral-100 shadow-xl rounded-xl p-10">
      <div class="mb-4">
        <div class="flex text-3xl">
          <span class="font-bold">Viviana Soriano</span>
          <p>-Desarrolladora FrontEnd</p>
        </div>
        <p class="text-3xl">y Mobile</p>
      </div>

      <div class="bg-gray-400 h-px my-4 rounded-md"></div>

      <ul class="list-none flex flex-col gap-3">
        <!-- <li>i develop web pages</li>
        <li>i develop mobile apps</li>
        <li>i turn figmas into reality</li>
        <li>i know how to work with ReactJS</li>
        <li>i develop with NextJS</li>
        <li>i have positive vibes</li>
        <li>i love programing</li>
        <li>i love cats</li> -->
        <li>desarrollo páginas web</li>
        <li>desarrollo aplicaciones móviles</li>
        <li>convierto un diseño Figma en pagina web</li>
        <li>trabajo con ReactJS</li>
        <li>desarrollo con NextJS</li>
        <li>tengo vibras positivas</li>
        <li>amo programar</li>
        <li>amo los gatos</li>
      </ul>
    </div>
    <div class="col-span-2 bg-neutral-100 shadow-xl rounded-xl p-10">
      <div class="flex gap-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-code"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path
            d="M14 4l-4 16"></path></svg
        >
        <p>Tecnologias</p>
      </div>
      <div class="bg-gray-400 h-px my-4 rounded-md"></div>

      <div class="flex flex-wrap gap-2 justify-center">
        <div
          class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-red-300 duration-300 bg-gray-100 px-7 py-2 flex flex-col items-center justify-center rounded-md border-2 border-gray-400 shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 256 230"
            preserveAspectRatio="xMinYMin meet"
            ><path
              d="M.754 114.75c0 19.215 18.763 37.152 48.343 47.263-5.907 29.737-1.058 53.706 15.136 63.045 16.645 9.6 41.443 2.955 64.98-17.62 22.943 19.744 46.13 27.514 62.31 18.148 16.63-9.627 21.687-35.221 15.617-65.887 30.81-10.186 48.044-25.481 48.044-44.949 0-18.769-18.797-35.006-47.979-45.052 6.535-31.933.998-55.32-15.867-65.045-16.259-9.376-39.716-1.204-62.996 19.056C104.122 2.205 80.897-4.36 64.05 5.392 47.806 14.795 43.171 39.2 49.097 69.487 20.515 79.452.754 96.057.754 114.75z"
              fill="#FFF"></path><path
              d="M201.025 79.674a151.364 151.364 0 0 0-7.274-2.292 137.5 137.5 0 0 0 1.124-4.961c5.506-26.728 1.906-48.26-10.388-55.348-11.787-6.798-31.065.29-50.535 17.233a151.136 151.136 0 0 0-5.626 5.163 137.573 137.573 0 0 0-3.744-3.458c-20.405-18.118-40.858-25.752-53.139-18.643-11.776 6.817-15.264 27.06-10.307 52.39a150.91 150.91 0 0 0 1.67 7.484c-2.894.822-5.689 1.698-8.363 2.63-23.922 8.34-39.2 21.412-39.2 34.97 0 14.004 16.4 28.05 41.318 36.566a128.44 128.44 0 0 0 6.11 1.91 147.813 147.813 0 0 0-1.775 8.067c-4.726 24.89-1.035 44.653 10.71 51.428 12.131 6.995 32.491-.195 52.317-17.525 1.567-1.37 3.14-2.823 4.715-4.346a148.34 148.34 0 0 0 6.108 5.573c19.204 16.525 38.17 23.198 49.905 16.405 12.12-7.016 16.058-28.247 10.944-54.078-.39-1.973-.845-3.988-1.355-6.04 1.43-.422 2.833-.858 4.202-1.312 25.904-8.582 42.757-22.457 42.757-36.648 0-13.607-15.77-26.767-40.174-35.168z"
              fill="#53C1DE"></path><path
              d="M195.406 142.328c-1.235.409-2.503.804-3.795 1.187-2.86-9.053-6.72-18.68-11.442-28.625 4.507-9.71 8.217-19.213 10.997-28.208 2.311.67 4.555 1.375 6.717 2.12 20.91 7.197 33.664 17.84 33.664 26.04 0 8.735-13.775 20.075-36.14 27.486zm-9.28 18.389c2.261 11.422 2.584 21.749 1.086 29.822-1.346 7.254-4.052 12.09-7.398 14.027-7.121 4.122-22.35-1.236-38.772-15.368-1.883-1.62-3.78-3.35-5.682-5.18 6.367-6.964 12.73-15.06 18.94-24.05 10.924-.969 21.244-2.554 30.603-4.717.46 1.86.87 3.683 1.223 5.466zm-93.85 43.137c-6.957 2.457-12.498 2.527-15.847.596-7.128-4.11-10.09-19.98-6.049-41.265a138.507 138.507 0 0 1 1.65-7.502c9.255 2.047 19.5 3.52 30.45 4.408 6.251 8.797 12.798 16.883 19.396 23.964a118.863 118.863 0 0 1-4.305 3.964c-8.767 7.664-17.552 13.1-25.294 15.835zm-32.593-61.58c-11.018-3.766-20.117-8.66-26.354-14-5.604-4.8-8.434-9.565-8.434-13.432 0-8.227 12.267-18.722 32.726-25.855a139.276 139.276 0 0 1 7.777-2.447c2.828 9.197 6.537 18.813 11.013 28.537-4.534 9.869-8.296 19.638-11.15 28.943a118.908 118.908 0 0 1-5.578-1.746zm10.926-74.37c-4.247-21.703-1.427-38.074 5.67-42.182 7.56-4.376 24.275 1.864 41.893 17.507 1.126 1 2.257 2.047 3.39 3.13-6.564 7.049-13.051 15.074-19.248 23.82-10.627.985-20.8 2.567-30.152 4.686a141.525 141.525 0 0 1-1.553-6.962zm97.467 24.067a306.982 306.982 0 0 0-6.871-11.3c7.21.91 14.117 2.12 20.603 3.601-1.947 6.241-4.374 12.767-7.232 19.457a336.42 336.42 0 0 0-6.5-11.758zm-39.747-38.714c4.452 4.823 8.911 10.209 13.297 16.052a284.245 284.245 0 0 0-26.706-.006c4.39-5.789 8.887-11.167 13.409-16.046zm-40.002 38.78a285.24 285.24 0 0 0-6.378 11.685c-2.811-6.667-5.216-13.222-7.18-19.552 6.447-1.443 13.322-2.622 20.485-3.517a283.79 283.79 0 0 0-6.927 11.384zm7.133 57.683c-7.4-.826-14.379-1.945-20.824-3.348 1.995-6.442 4.453-13.138 7.324-19.948a283.494 283.494 0 0 0 6.406 11.692 285.27 285.27 0 0 0 7.094 11.604zm33.136 27.389c-4.575-4.937-9.138-10.397-13.595-16.27 4.326.17 8.737.256 13.22.256 4.606 0 9.159-.103 13.64-.303-4.4 5.98-8.843 11.448-13.265 16.317zm46.072-51.032c3.02 6.884 5.566 13.544 7.588 19.877-6.552 1.495-13.625 2.699-21.078 3.593a337.537 337.537 0 0 0 6.937-11.498 306.632 306.632 0 0 0 6.553-11.972zm-14.915 7.15a316.478 316.478 0 0 1-10.84 17.49c-6.704.479-13.632.726-20.692.726-7.031 0-13.871-.219-20.458-.646A273.798 273.798 0 0 1 96.72 133.28a271.334 271.334 0 0 1-9.64-18.206 273.864 273.864 0 0 1 9.611-18.216v.002a271.252 271.252 0 0 1 10.956-17.442c6.72-.508 13.61-.774 20.575-.774 6.996 0 13.895.268 20.613.78a290.704 290.704 0 0 1 10.887 17.383 316.418 316.418 0 0 1 9.741 18.13 290.806 290.806 0 0 1-9.709 18.29zm19.913-107.792c7.566 4.364 10.509 21.961 5.755 45.038a127.525 127.525 0 0 1-1.016 4.492c-9.374-2.163-19.554-3.773-30.212-4.773-6.209-8.841-12.642-16.88-19.1-23.838a141.92 141.92 0 0 1 5.196-4.766c16.682-14.518 32.273-20.25 39.377-16.153z"
              fill="#FFF"></path><path
              d="M128.221 94.665c11.144 0 20.177 9.034 20.177 20.177 0 11.144-9.033 20.178-20.177 20.178-11.143 0-20.177-9.034-20.177-20.178 0-11.143 9.034-20.177 20.177-20.177"
              fill="#53C1DE"></path></svg
          >
          <p>React</p>
        </div>
        <div
          class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-amber-300 duration-300 bg-gray-100 px-7 py-2 flex flex-col items-center justify-center rounded-md border-2 border-gray-400 shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 1023 1024.1"
            ><path
              d="m478.5.6c-2.2.2-9.2.9-15.5 1.4-145.3 13.1-281.4 91.5-367.6 212-48 67-78.7 143-90.3 223.5-4.1 28.1-4.6 36.4-4.6 74.5s.5 46.4 4.6 74.5c27.8 192.1 164.5 353.5 349.9 413.3 33.2 10.7 68.2 18 108 22.4 15.5 1.7 82.5 1.7 98 0 68.7-7.6 126.9-24.6 184.3-53.9 8.8-4.5 10.5-5.7 9.3-6.7-.8-.6-38.3-50.9-83.3-111.7l-81.8-110.5-102.5-151.7c-56.4-83.4-102.8-151.6-103.2-151.6-.4-.1-.8 67.3-1 149.6-.3 144.1-.4 149.9-2.2 153.3-2.6 4.9-4.6 6.9-8.8 9.1-3.2 1.6-6 1.9-21.1 1.9h-17.3l-4.6-2.9c-3-1.9-5.2-4.4-6.7-7.3l-2.1-4.5.2-200.5.3-200.6 3.1-3.9c1.6-2.1 5-4.8 7.4-6.1 4.1-2 5.7-2.2 23-2.2 20.4 0 23.8.8 29.1 6.6 1.5 1.6 57 85.2 123.4 185.9s157.2 238.2 201.8 305.7l81 122.7 4.1-2.7c36.3-23.6 74.7-57.2 105.1-92.2 64.7-74.3 106.4-164.9 120.4-261.5 4.1-28.1 4.6-36.4 4.6-74.5s-.5-46.4-4.6-74.5c-27.8-192.1-164.5-353.5-349.9-413.3-32.7-10.6-67.5-17.9-106.5-22.3-9.6-1-75.7-2.1-84-1.3zm209.4 309.4c4.8 2.4 8.7 7 10.1 11.8.8 2.6 1 58.2.8 183.5l-.3 179.8-31.7-48.6-31.8-48.6v-130.7c0-84.5.4-132 1-134.3 1.6-5.6 5.1-10 9.9-12.6 4.1-2.1 5.6-2.3 21.3-2.3 14.8 0 17.4.2 20.7 2z"
            ></path><path
              d="m784.3 945.1c-3.5 2.2-4.6 3.7-1.5 2 2.2-1.3 5.8-4 5.2-4.1-.3 0-2 1-3.7 2.1zm-6.9 4.5c-1.8 1.4-1.8 1.5.4.4 1.2-.6 2.2-1.3 2.2-1.5 0-.8-.5-.6-2.6 1.1zm-5 3c-1.8 1.4-1.8 1.5.4.4 1.2-.6 2.2-1.3 2.2-1.5 0-.8-.5-.6-2.6 1.1zm-5 3c-1.8 1.4-1.8 1.5.4.4 1.2-.6 2.2-1.3 2.2-1.5 0-.8-.5-.6-2.6 1.1zm-7.6 4c-3.8 2-3.6 2.8.2.9 1.7-.9 3-1.8 3-2 0-.7-.1-.6-3.2 1.1z"
            ></path></svg
          >
          <p>Next.Js</p>
        </div>
        <div
          class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-lime-300 duration-300 bg-gray-100 px-4 py-2 flex flex-col items-center justify-center rounded-md border-2 border-gray-400 shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 256 256"
            preserveAspectRatio="xMinYMin meet"
            ><path d="M0 0h256v256H0V0z" fill="#F7DF1E"></path><path
              d="M67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371 7.905 0 12.89-3.092 12.89-15.12v-81.798h24.057v82.138c0 24.917-14.606 36.259-35.916 36.259-19.245 0-30.416-9.967-36.087-21.996M152.381 211.354l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607 9.969 0 16.325-4.984 16.325-11.858 0-8.248-6.53-11.17-17.528-15.98l-6.013-2.58c-17.357-7.387-28.87-16.667-28.87-36.257 0-18.044 13.747-31.792 35.228-31.792 15.294 0 26.292 5.328 34.196 19.247L210.29 147.43c-4.125-7.389-8.591-10.31-15.465-10.31-7.046 0-11.514 4.468-11.514 10.31 0 7.217 4.468 10.14 14.778 14.608l6.014 2.577c20.45 8.765 31.963 17.7 31.963 37.804 0 21.654-17.012 33.51-39.867 33.51-22.339 0-36.774-10.654-43.819-24.574"
            ></path></svg
          >
          <p>JavaScript</p>
        </div>
        <div
          class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-teal-300 duration-300 bg-gray-100 px-7 py-2 flex flex-col items-center justify-center rounded-md border-2 border-gray-400 shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 256 244"
            preserveAspectRatio="xMidYMid"
            ><path
              d="M177.381 169.733c9.447-.978 16.614-9.122 16.288-18.896-.325-9.773-8.47-17.592-18.243-17.592h-.651c-10.1.326-17.918 8.796-17.592 18.895.326 4.887 2.28 9.122 5.212 12.054-11.076 21.828-28.016 37.791-53.426 51.148-17.266 9.122-35.183 12.38-53.1 10.1-14.66-1.955-26.062-8.47-33.23-19.222-10.424-15.963-11.401-33.23-2.605-50.496 6.19-12.38 15.962-21.502 22.152-26.063-1.303-4.235-3.258-11.402-4.235-16.614-47.237 34.207-42.35 80.468-28.016 102.295 10.75 16.29 32.577 26.389 56.684 26.389 6.515 0 13.03-.652 19.546-2.28 41.699-8.145 73.299-32.905 91.216-69.718zm57.336-40.397c-24.759-28.995-61.245-44.958-102.944-44.958h-5.212c-2.932-5.864-9.122-9.774-15.963-9.774h-.652C99.848 74.93 92.03 83.4 92.355 93.5c.326 9.773 8.47 17.592 18.243 17.592h.651c7.167-.326 13.357-4.887 15.963-11.077h5.864c24.759 0 48.214 7.167 69.39 21.176 16.288 10.751 28.016 24.76 34.531 41.7 5.538 13.683 5.212 27.04-.652 38.443-9.121 17.266-24.432 26.714-44.63 26.714-13.031 0-25.41-3.91-31.926-6.842-3.583 3.258-10.099 8.47-14.66 11.729 14.009 6.515 28.343 10.099 42.025 10.099 31.274 0 54.404-17.267 63.2-34.533 9.447-18.896 8.795-51.474-15.637-79.165zM69.225 175.27c.326 9.774 8.47 17.592 18.243 17.592h.652c10.099-.325 17.917-8.796 17.591-18.895-.325-9.774-8.47-17.592-18.243-17.592h-.651c-.652 0-1.63 0-2.28.325-13.357-22.153-18.895-46.26-16.94-72.323 1.302-19.547 7.818-36.488 19.22-50.497 9.447-12.054 27.69-17.918 40.07-18.243 34.531-.652 49.19 42.351 50.168 59.618 4.235.977 11.402 3.258 16.289 4.887C189.434 27.366 156.857 0 125.584 0c-29.32 0-56.359 21.176-67.11 52.451-14.985 41.7-5.212 81.771 13.031 113.372-1.628 2.28-2.606 5.864-2.28 9.448z"
              fill="#764ABC"></path></svg
          >
          <p>Redux</p>
        </div>
        <div
          class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-cyan-300 duration-300 bg-gray-100 px-4 py-2 flex flex-col items-center justify-center rounded-md border-2 border-gray-400 shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            height="40"
            width="40"
            viewBox="670.088 32.46226489559854 2224.1720000000005 2666.4877351044024"
            ><g fill="#61dafb"
              ><path
                d="M2870 1250.22c0-145.34-182.01-283.079-461.07-368.495 64.4-284.424 35.78-510.711-90.34-583.159-29.07-16.994-63.05-25.044-100.17-25.044v99.728c20.57 0 37.12 4.025 50.98 11.627 60.82 34.882 87.21 167.703 66.63 338.536-4.91 42.038-12.96 86.311-22.8 131.479-87.66-21.466-183.36-38.012-283.98-48.745-60.37-82.734-122.98-157.865-186.04-223.604 145.79-135.504 282.64-209.741 375.66-209.741v-99.727c-122.99 0-283.98 87.653-446.76 239.703-162.79-151.156-323.78-237.914-446.76-237.914v99.727c92.57 0 229.86 73.79 375.65 208.399-62.61 65.74-125.22 140.423-184.7 223.157-101.07 10.733-196.77 27.279-284.42 49.192-10.29-44.72-17.89-88.1-23.26-129.69-21.01-170.833 4.92-303.654 65.3-338.983 13.41-8.05 30.85-11.627 51.43-11.627v-99.728c-37.57 0-71.56 8.05-101.07 25.044-125.67 72.447-153.84 298.287-89 581.817C857.119 968.036 676 1105.33 676 1250.22c0 145.35 182.013 283.09 461.07 368.5-64.4 284.43-35.78 510.71 90.34 583.16 29.07 16.99 63.05 25.04 100.62 25.04 122.98 0 283.98-87.65 446.76-239.7 162.78 151.16 323.78 237.92 446.76 237.92 37.56 0 71.55-8.05 101.07-25.05 125.66-72.45 153.84-298.29 88.99-581.81 277.27-85.42 458.39-223.16 458.39-368.06zm-582.26-298.284c-16.55 57.694-37.12 117.164-60.38 176.644-18.33-35.77-37.56-71.55-58.58-107.33-20.57-35.773-42.49-70.655-64.4-104.643 63.5 9.391 124.77 21.019 183.36 35.329zm-204.83 476.274c-34.88 60.38-70.65 117.62-107.77 170.84-66.64 5.81-134.16 8.94-202.14 8.94-67.53 0-135.06-3.13-201.24-8.5-37.12-53.22-73.35-110.01-108.23-169.94-33.99-58.58-64.84-118.06-93.02-177.98 27.73-59.93 59.03-119.86 92.58-178.44 34.88-60.37 70.65-117.616 107.77-170.834 66.64-5.814 134.16-8.944 202.14-8.944 67.53 0 135.06 3.13 201.24 8.497 37.12 53.218 73.35 110.011 108.23 169.941 33.99 58.58 64.84 118.06 93.02 177.99-28.18 59.92-59.03 119.85-92.58 178.43zm144.45-58.13a1918.154 1918.154 0 0 1 61.72 177.98c-58.59 14.31-120.3 26.39-184.25 35.78 21.91-34.43 43.82-69.76 64.4-105.99 20.57-35.77 39.8-72 58.13-107.77zm-453.47 477.17c-41.59-42.94-83.18-90.79-124.32-143.11 40.25 1.79 81.39 3.13 122.98 3.13 42.04 0 83.63-.89 124.33-3.13a1746.499 1746.499 0 0 1-122.99 143.11zm-332.72-263.41c-63.5-9.39-124.77-21.02-183.35-35.33 16.54-57.69 37.12-117.17 60.37-176.65 18.34 35.78 37.57 71.56 58.58 107.33 21.02 35.78 42.49 70.66 64.4 104.65zm330.49-930.638c41.59 42.931 83.18 90.783 124.32 143.106-40.25-1.789-81.39-3.13-122.98-3.13-42.04 0-83.63.894-124.32 3.13a1746.3 1746.3 0 0 1 122.98-143.106zm-330.94 263.405c-21.91 34.435-43.82 69.764-64.39 105.983-20.57 35.78-39.8 71.56-58.14 107.33a1914.757 1914.757 0 0 1-61.71-177.984c58.58-13.863 120.29-25.938 184.24-35.329zM1036 1476.51c-158.309-67.53-260.72-156.07-260.72-226.29 0-70.21 102.411-159.2 260.72-226.28 38.46-16.55 80.5-31.308 123.88-45.171 25.49 87.651 59.03 178.881 100.62 272.351-41.14 93.02-74.24 183.8-99.28 271.01-44.27-13.87-86.31-29.07-125.22-45.62zm240.6 639.06c-60.82-34.88-87.21-167.7-66.63-338.54 4.92-42.03 12.96-86.31 22.8-131.48 87.66 21.47 183.36 38.02 283.98 48.75 60.37 82.73 122.98 157.86 186.04 223.6-145.79 135.51-282.64 209.74-375.66 209.74-20.12-.44-37.11-4.47-50.53-12.07zm1060.78-340.77c21.01 170.83-4.92 303.65-65.3 338.98-13.41 8.05-30.85 11.63-51.43 11.63-92.57 0-229.86-73.79-375.65-208.4 62.61-65.74 125.22-140.42 184.7-223.16 101.07-10.73 196.77-27.28 284.42-49.19 10.29 45.17 18.34 88.55 23.26 130.14zm172.17-298.29c-38.46 16.55-80.5 31.31-123.88 45.17-25.49-87.65-59.03-178.88-100.62-272.35 41.15-93.02 74.24-183.8 99.28-271.009 44.28 13.864 86.31 29.069 125.67 45.619 158.31 67.52 260.72 156.07 260.72 226.28-.45 70.22-102.86 159.21-261.17 226.29z"
              ></path><path
                d="M1772.55 1454.6c112.88 0 204.38-91.5 204.38-204.38 0-112.87-91.5-204.37-204.38-204.37-112.87 0-204.37 91.5-204.37 204.37 0 112.88 91.5 204.38 204.37 204.38zM775.625 2578.81H708.16V2695h-38.072v-287.22h95.082c32.351 0 57.207 7.37 74.566 22.1 17.491 14.72 26.237 36.16 26.237 64.3 0 17.89-4.866 33.47-14.598 46.76-9.6 13.28-23.014 23.21-40.242 29.78l67.465 121.91v2.37h-40.637zm-67.465-30.97h58.194c18.806 0 33.732-4.87 44.779-14.6 11.178-9.73 16.767-22.75 16.767-39.06 0-17.75-5.326-31.36-15.978-40.83-10.521-9.47-25.776-14.27-45.766-14.4H708.16zm293.93 151.11c-28.936 0-52.477-9.47-70.625-28.41-18.149-19.07-27.223-44.52-27.223-76.34v-6.71c0-21.17 4.011-40.04 12.033-56.61 8.154-16.71 19.464-29.73 33.93-39.06 14.598-9.47 30.379-14.21 47.344-14.21 27.751 0 49.321 9.14 64.701 27.42 15.39 18.28 23.08 44.45 23.08 78.51v15.19H940.736c.526 21.05 6.642 38.08 18.346 51.1 11.836 12.88 26.828 19.33 44.978 19.33 12.89 0 23.8-2.63 32.74-7.89 8.95-5.26 16.77-12.23 23.48-20.91l22.29 17.36c-17.89 27.48-44.71 41.23-80.48 41.23zm-4.541-191.35c-14.729 0-27.091 5.39-37.086 16.17-9.995 10.66-16.176 25.65-18.543 44.98h106.92v-2.76c-1.05-18.54-6.05-32.88-14.99-43.01-8.95-10.25-21.05-15.38-36.301-15.38zM1259.52 2695c-2.11-4.21-3.82-11.7-5.13-22.49-16.97 17.62-37.22 26.44-60.76 26.44-21.04 0-38.33-5.92-51.88-17.76-13.41-11.97-20.12-27.09-20.12-45.37 0-22.22 8.42-39.45 25.25-51.68 16.96-12.37 40.77-18.55 71.41-18.55h35.51v-16.76c0-12.76-3.82-22.89-11.44-30.38-7.63-7.63-18.88-11.44-33.74-11.44-13.02 0-23.93 3.28-32.74 9.86-8.81 6.57-13.22 14.53-13.22 23.87h-36.69c0-10.65 3.75-20.91 11.24-30.78 7.63-9.99 17.89-17.88 30.78-23.67 13.02-5.78 27.28-8.68 42.8-8.68 24.6 0 43.86 6.18 57.8 18.55 13.94 12.23 21.17 29.13 21.7 50.69v98.24c0 19.6 2.5 35.18 7.5 46.75v3.16zm-60.56-27.81c11.44 0 22.29-2.96 32.55-8.88 10.25-5.92 17.68-13.61 22.29-23.08v-43.79h-28.61c-44.71 0-67.07 13.08-67.07 39.25 0 11.44 3.82 20.39 11.44 26.83 7.63 6.44 17.43 9.67 29.4 9.67zm234.15 1.97c13.02 0 24.4-3.95 34.13-11.84s15.12-17.75 16.17-29.59h34.53c-.66 12.23-4.87 23.87-12.63 34.92s-18.15 19.86-31.17 26.43c-12.89 6.58-26.56 9.87-41.03 9.87-29.06 0-52.21-9.67-69.44-29-17.09-19.47-25.64-46.03-25.64-79.7v-6.11c0-20.78 3.81-39.26 11.44-55.43 7.63-16.18 18.54-28.74 32.75-37.68 14.33-8.95 31.23-13.42 50.69-13.42 23.94 0 43.8 7.17 59.58 21.51 15.91 14.33 24.39 32.94 25.45 55.82h-34.53c-1.05-13.81-6.31-25.12-15.78-33.93-9.33-8.94-20.91-13.41-34.72-13.41-18.54 0-32.94 6.7-43.2 20.12-10.12 13.28-15.19 32.55-15.19 57.8v6.9c0 24.59 5.07 43.53 15.19 56.81 10.13 13.29 24.6 19.93 43.4 19.93zm175.37-239.28v51.68h39.85v28.21h-39.85v132.36c0 8.55 1.78 14.99 5.33 19.33 3.55 4.21 9.6 6.32 18.15 6.32 4.2 0 9.99-.79 17.35-2.37V2695c-9.6 2.63-18.93 3.95-28.01 3.95-16.3 0-28.6-4.94-36.89-14.8-8.28-9.86-12.42-23.87-12.42-42.02v-132.36h-38.87v-28.21h38.87v-51.68zM2017.81 2695h-38.08l-144.59-221.33V2695h-38.07v-287.22h38.07l144.99 222.32v-222.32h37.68zm193.32 0c-2.11-4.21-3.82-11.7-5.13-22.49-16.97 17.62-37.22 26.44-60.76 26.44-21.04 0-38.34-5.92-51.88-17.76-13.41-11.97-20.12-27.09-20.12-45.37 0-22.22 8.41-39.45 25.25-51.68 16.96-12.37 40.77-18.55 71.41-18.55h35.51v-16.76c0-12.76-3.82-22.89-11.45-30.38-7.62-7.63-18.87-11.44-33.73-11.44-13.02 0-23.93 3.28-32.74 9.86-8.81 6.57-13.22 14.53-13.22 23.87h-36.69c0-10.65 3.75-20.91 11.24-30.78 7.63-9.99 17.89-17.88 30.78-23.67 13.02-5.78 27.28-8.68 42.8-8.68 24.59 0 43.86 6.18 57.8 18.55 13.94 12.23 21.17 29.13 21.7 50.69v98.24c0 19.6 2.5 35.18 7.5 46.75v3.16zm-60.56-27.81c11.44 0 22.29-2.96 32.55-8.88 10.25-5.92 17.68-13.61 22.29-23.08v-43.79h-28.61c-44.71 0-67.07 13.08-67.07 39.25 0 11.44 3.82 20.39 11.44 26.83 7.63 6.44 17.43 9.67 29.4 9.67zm198.05-237.31v51.68h39.85v28.21h-39.85v132.36c0 8.55 1.78 14.99 5.33 19.33 3.55 4.21 9.6 6.32 18.15 6.32 4.2 0 9.99-.79 17.36-2.37V2695c-9.61 2.63-18.94 3.95-28.02 3.95-16.3 0-28.6-4.94-36.89-14.8-8.28-9.86-12.42-23.87-12.42-42.02v-132.36h-38.86v-28.21h38.86v-51.68zM2470.93 2695h-36.5v-213.44h36.5zm-39.46-270.06c0-5.91 1.78-10.91 5.33-14.99 3.68-4.08 9.07-6.11 16.17-6.11 7.11 0 12.5 2.03 16.18 6.11s5.52 9.08 5.52 14.99c0 5.92-1.84 10.85-5.52 14.8-3.68 3.94-9.07 5.92-16.18 5.92-7.1 0-12.49-1.98-16.17-5.92-3.55-3.95-5.33-8.88-5.33-14.8zm168.47 220.55l52.86-163.93h37.29L2613.55 2695h-27.82l-77.32-213.44h37.28zm211.07 53.46c-28.93 0-52.47-9.47-70.62-28.41-18.15-19.07-27.22-44.52-27.22-76.34v-6.71c0-21.17 4.01-40.04 12.03-56.61 8.15-16.71 19.46-29.73 33.93-39.06 14.6-9.47 30.38-14.21 47.34-14.21 27.75 0 49.32 9.14 64.71 27.42 15.38 18.28 23.08 44.45 23.08 78.51v15.19h-144.6c.53 21.05 6.64 38.08 18.35 51.1 11.83 12.88 26.83 19.33 44.97 19.33 12.89 0 23.81-2.63 32.75-7.89s16.77-12.23 23.48-20.91l22.29 17.36c-17.89 27.48-44.72 41.23-80.49 41.23zm-4.54-191.35c-14.72 0-27.09 5.39-37.08 16.17-10 10.66-16.18 25.65-18.54 44.98h106.91v-2.76c-1.05-18.54-6.05-32.88-14.99-43.01-8.94-10.25-21.04-15.38-36.3-15.38z"
              ></path></g
            ></svg
          >
          <p>React Native</p>
        </div>
        <div
          class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-300 duration-300 bg-gray-100 px-7 py-2 flex flex-col items-center justify-center rounded-md border-2 border-gray-400 shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            height="40"
            width="40"
            viewBox="0 -0.010658198738520475 29.979048832700347 32.01961648081533"
            ><path d="M.25 8.32l2.71 1.576 13.963-8.07L14.184.25z" fill="#fff"
            ></path><path
              clip-rule="evenodd"
              d="M14.059.034a.25.25 0 0 1 .25 0l2.739 1.576a.25.25 0 0 1 0 .434L3.086 10.113a.25.25 0 0 1-.251 0L.125 8.535a.25.25 0 0 1 0-.433L14.059.033zm.125.506L.75 8.32l2.212 1.286 13.46-7.779z"
              fill="#000"
              fill-rule="evenodd"></path><path
              d="M.25 8.32v16.137l2.74 1.576-.03-16.137L.25 8.319z"
              fill="#fff"></path><g fill="#000"
              ><path
                clip-rule="evenodd"
                d="M.126 8.102a.25.25 0 0 1 .25 0l2.71 1.577a.25.25 0 0 1 .125.216l.029 16.138a.25.25 0 0 1-.376.218L.126 24.674A.25.25 0 0 1 0 24.457V8.32a.25.25 0 0 1 .126-.217zm.375.653v15.557L2.738 25.6 2.71 10.04z"
                fill-rule="evenodd"></path><path
                d="M2.96 9.896l13.963-8.07v16.139L2.989 26.034 2.961 9.895z"
              ></path><path
                clip-rule="evenodd"
                d="M17.048 1.61a.25.25 0 0 1 .125.217v16.138a.25.25 0 0 1-.125.216l-13.933 8.07a.25.25 0 0 1-.376-.217L2.71 9.896a.25.25 0 0 1 .125-.217L16.797 1.61a.25.25 0 0 1 .25 0zM3.21 10.04l.03 15.56 13.433-7.78V2.26l-13.46 7.78z"
                fill-rule="evenodd"></path></g
            ><path
              d="M5.048 11.081l2.71 1.577 13.962-8.07-2.738-1.576-13.934 8.07z"
              fill="#fff"></path><path
              clip-rule="evenodd"
              d="M18.856 2.796a.25.25 0 0 1 .25 0l2.74 1.576a.25.25 0 0 1 0 .434L7.884 12.875a.25.25 0 0 1-.252 0l-2.71-1.577a.25.25 0 0 1 0-.433l13.934-8.07zm.126.506l-13.435 7.78 2.212 1.286 13.46-7.779z"
              fill="#000"
              fill-rule="evenodd"></path><path
              d="M5.048 11.081V27.22l2.739 1.576-.029-16.137-2.71-1.577z"
              fill="#fff"></path><path
              clip-rule="evenodd"
              d="M4.923 10.864a.25.25 0 0 1 .251 0l2.71 1.577a.25.25 0 0 1 .125.216l.028 16.138a.25.25 0 0 1-.375.218l-2.739-1.577a.25.25 0 0 1-.125-.217V11.081a.25.25 0 0 1 .125-.217zm.376.653v15.557l2.236 1.288-.027-15.56-2.21-1.285z"
              fill="#000"
              fill-rule="evenodd"></path><path
              d="M7.758 12.658l13.962-8.07v16.139L7.787 28.796z"
              fill="#000"></path><path
              clip-rule="evenodd"
              d="M21.845 4.372a.25.25 0 0 1 .126.217v16.138a.25.25 0 0 1-.125.216l-13.934 8.07a.25.25 0 0 1-.376-.217l-.028-16.138a.25.25 0 0 1 .125-.217l13.962-8.069a.25.25 0 0 1 .25 0zM8.01 12.802l.027 15.56 13.434-7.78V5.022z"
              fill="#000"
              fill-rule="evenodd"></path><path
              d="M7.763 15.358l5.082 16.392 2.899-.949-5.284-16.412z"
              fill="#fff"></path><path
              clip-rule="evenodd"
              d="M10.57 14.165a.25.25 0 0 1 .129.148l5.283 16.411a.25.25 0 0 1-.16.315l-2.9.949a.25.25 0 0 1-.317-.164L7.524 15.432a.25.25 0 0 1 .155-.31l2.697-.968a.25.25 0 0 1 .195.01zm-2.496 1.348l4.935 15.92 2.42-.793L10.3 14.713l-2.227.8z"
              fill="#000"
              fill-rule="evenodd"></path><path
              d="M21.718 7.9L26.8 24.292l2.899-.949-5.284-16.411z"
              fill="#fff"></path><path
              clip-rule="evenodd"
              d="M24.526 6.707a.25.25 0 0 1 .128.148l5.283 16.412a.25.25 0 0 1-.16.314l-2.9.949a.25.25 0 0 1-.316-.164L21.479 7.974a.25.25 0 0 1 .155-.31l2.697-.968a.25.25 0 0 1 .195.011zm-2.497 1.348l4.935 15.92 2.42-.792-5.128-15.928z"
              fill="#000"
              fill-rule="evenodd"></path><path
              d="M10.46 14.39l13.955-7.458L29.7 23.343l-13.955 7.458-5.284-16.412z"
              fill="#fff"></path><path
              clip-rule="evenodd"
              d="M24.51 6.7a.25.25 0 0 1 .144.155l5.283 16.412a.25.25 0 0 1-.12.297l-13.955 7.458a.25.25 0 0 1-.357-.144l-5.283-16.412a.25.25 0 0 1 .12-.297L24.297 6.71a.25.25 0 0 1 .212-.012zm-13.747 7.812l5.127 15.927 13.506-7.218L24.27 7.294l-13.506 7.218z"
              fill="#000"
              fill-rule="evenodd"></path><path
              d="M10.46 14.39l-2.697.968L21.718 7.9l2.697-.968-13.955 7.457z"
              fill="#fff"></path><path
              clip-rule="evenodd"
              d="M24.644 6.83a.25.25 0 0 1-.11.323L10.577 14.61a.242.242 0 0 1-.033.015l-2.697.969a.25.25 0 0 1-.203-.457L21.6 7.679a.258.258 0 0 1 .034-.015l2.697-.968a.25.25 0 0 1 .313.134z"
              fill="#000"
              fill-rule="evenodd"></path><path
              d="M18.395 13.053l-.941.481-.94.481-.762 11.392 1.85.827 1.41-9.114 7.375 4.623.592-2.073z"
              fill="#000"></path><path
              clip-rule="evenodd"
              d="M18.282 12.83a.25.25 0 0 1 .266.025l8.584 6.616a.25.25 0 0 1 .087.267l-.59 2.074a.25.25 0 0 1-.375.144l-7.053-4.422-1.351 8.738a.25.25 0 0 1-.35.19l-1.85-.826a.25.25 0 0 1-.148-.245l.762-11.392a.25.25 0 0 1 .135-.207zm-1.528 1.344l-.74 11.076 1.39.621 1.36-8.79a.25.25 0 0 1 .38-.174l7.094 4.447.453-1.59-8.323-6.415z"
              fill="#000"
              fill-rule="evenodd"></path></svg
          >
          <p>Expo</p>
        </div>
        <div
          class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-violet-300 duration-300 bg-gray-100 px-7 py-2 flex flex-col items-center justify-center rounded-md border-2 border-gray-400 shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 256 346"
            preserveAspectRatio="xMinYMin meet"
            ><path
              d="M82.554 267.473s-13.198 7.675 9.393 10.272c27.369 3.122 41.356 2.675 71.517-3.034 0 0 7.93 4.972 19.003 9.279-67.611 28.977-153.019-1.679-99.913-16.517M74.292 229.659s-14.803 10.958 7.805 13.296c29.236 3.016 52.324 3.263 92.276-4.43 0 0 5.526 5.602 14.215 8.666-81.747 23.904-172.798 1.885-114.296-17.532"
              fill="#5382A1"></path><path
              d="M143.942 165.515c16.66 19.18-4.377 36.44-4.377 36.44s42.301-21.837 22.874-49.183c-18.144-25.5-32.059-38.172 43.268-81.858 0 0-118.238 29.53-61.765 94.6"
              fill="#E76F00"></path><path
              d="M233.364 295.442s9.767 8.047-10.757 14.273c-39.026 11.823-162.432 15.393-196.714.471-12.323-5.36 10.787-12.8 18.056-14.362 7.581-1.644 11.914-1.337 11.914-1.337-13.705-9.655-88.583 18.957-38.034 27.15 137.853 22.356 251.292-10.066 215.535-26.195M88.9 190.48s-62.771 14.91-22.228 20.323c17.118 2.292 51.243 1.774 83.03-.89 25.978-2.19 52.063-6.85 52.063-6.85s-9.16 3.923-15.787 8.448c-63.744 16.765-186.886 8.966-151.435-8.183 29.981-14.492 54.358-12.848 54.358-12.848M201.506 253.422c64.8-33.672 34.839-66.03 13.927-61.67-5.126 1.066-7.411 1.99-7.411 1.99s1.903-2.98 5.537-4.27c41.37-14.545 73.187 42.897-13.355 65.647 0 .001 1.003-.895 1.302-1.697"
              fill="#5382A1"></path><path
              d="M162.439.371s35.887 35.9-34.037 91.101c-56.071 44.282-12.786 69.53-.023 98.377-32.73-29.53-56.75-55.526-40.635-79.72C111.395 74.612 176.918 57.393 162.439.37"
              fill="#E76F00"></path><path
              d="M95.268 344.665c62.199 3.982 157.712-2.209 159.974-31.64 0 0-4.348 11.158-51.404 20.018-53.088 9.99-118.564 8.824-157.399 2.421.001 0 7.95 6.58 48.83 9.201"
              fill="#5382A1"></path></svg
          >
          <p>Java</p>
        </div>
        <div
          class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-fuchsia-300 duration-300 bg-gray-100 px-7 py-2 flex flex-col items-center justify-center rounded-md border-2 border-gray-400 shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="221.807 89.47 440 621.061"
            enable-background="new 221.807 89.47 440 621.061"
            ><filter id="a" width="150%" height="150%" x="-5%" y="-5%"
              ><feFlood flood-color="#000" result="floodFill" flood-opacity=".5"
              ></feFlood><feComposite
                in="floodFill"
                in2="SourceAlpha"
                operator="in"
                result="coloredAlpha"></feComposite><feGaussianBlur
                in="coloredAlpha"
                result="blur"
                stdDeviation="8"></feGaussianBlur><feComposite
                in="blur"
                in2="SourceGraphic"
                operator="out"
                result="maskedOffsetBlur"></feComposite><feMerge
                ><feMergeNode in="maskedOffsetBlur"></feMergeNode><feMergeNode
                  in="SourceGraphic"></feMergeNode></feMerge
              ></filter
            ><g filter="url(#a)"
              ><path
                fill="#e44d26"
                d="M261.849 660.647l-40.042-449.125h440l-40.086 449.054-180.184 49.954z"
              ></path><path
                fill="#f16529"
                d="M441.807 672.348l145.596-40.367 34.258-383.735H441.807z"
              ></path><path
                fill="#ebebeb"
                d="M441.807 414.82h-72.888l-5.035-56.406h77.923V303.33H303.683l1.32 14.778 13.538 151.794h123.266zM441.807 557.876l-.242.066-61.346-16.566-3.922-43.93h-55.294l7.718 86.489 112.834 31.323.252-.071z"
              ></path><path
                d="M262.745 89.47h27.992v27.656h25.606V89.47h27.993v83.75h-27.993v-28.044h-25.606v28.044h-27.99l-.002-83.75zM381.149 117.244h-24.642V89.47H433.8v27.774h-24.654v55.976H381.15v-55.976h-.001zM446.065 89.47h29.19l17.955 29.428 17.938-29.428h29.2v83.75h-27.882v-41.512l-19.259 29.778h-.481l-19.272-29.778v41.512h-27.39V89.47zM554.277 89.47h28v56.068h39.368v27.682h-67.368V89.47z"
              ></path><path
                fill="#fff"
                d="M441.617 414.82v55.082h67.83l-6.395 71.44-61.435 16.58v57.307l112.924-31.294.826-9.309 12.946-145.014 1.344-14.792h-14.842zM441.617 303.33v55.084H574.67l1.103-12.382 2.51-27.924 1.318-14.778z"
              ></path></g
            ></svg
          >
          <p>HTML5</p>
        </div>
        <div
          class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-pink-300 duration-300 bg-gray-100 px-7 py-2 flex flex-col items-center justify-center rounded-md border-2 border-gray-400 shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            viewBox="0 0 538.584 538.583"
            ><path d="M0 0h538.584v538.583H0V0z" fill="none"></path><path
              d="M405.5 467.454L269.29 504.13l-136.212-36.676-31.432-340.525h335.29L405.5 467.454z"
              fill="#2062af"></path><path
              d="M269.289 154.511v320.367l.308.084 110.229-29.682 25.443-290.769h-135.98z"
              fill="#3c9cd7"></path><path
              d="M191.985 76.899V56.631h29.571V34.453h-51.749v62.684h51.749V76.899h-29.571zm82.766-20.268h20.674V34.453h-51.754v22.178c6.924 6.924 10.535 10.238 20.549 20.252-5.854 0-20.549.021-20.549.02v20.234h51.754V76.899l-20.674-20.268zm73.352 0h20.673V34.453H317.02v22.178c6.924 6.924 10.537 10.238 20.551 20.252-5.852 0-20.551.021-20.551.02v20.234h51.757V76.899l-20.674-20.268z"
            ></path><path
              d="M269.168 239.656l-97.49 40.602 3.233 40.199 94.257-40.301 100.265-42.868 4.157-41.122-104.422 43.49z"
              fill="#fff"></path><linearGradient
              id="a"
              gradientUnits="userSpaceOnUse"
              x1="-825.508"
              y1="1338.301"
              x2="-825.508"
              y2="1419.102"
              gradientTransform="matrix(1 0 0 -1 1045.93 1658.759)"
              ><stop offset=".387" stop-color="#d1d3d4" stop-opacity="0"
              ></stop><stop offset="1" stop-color="#d1d3d4"
              ></stop></linearGradient
            ><path
              d="M171.677 280.258l3.233 40.199 94.257-40.301v-40.5l-97.49 40.602z"
              fill="url(#a)"></path><linearGradient
              id="b"
              gradientUnits="userSpaceOnUse"
              x1="-724.552"
              y1="1378.602"
              x2="-724.552"
              y2="1462.591"
              gradientTransform="matrix(1 0 0 -1 1045.93 1658.759)"
              ><stop offset=".387" stop-color="#d1d3d4" stop-opacity="0"
              ></stop><stop offset="1" stop-color="#d1d3d4"
              ></stop></linearGradient
            ><path
              d="M373.59 196.167l-104.422 43.489v40.5l100.265-42.868 4.157-41.121z"
              fill="url(#b)"></path><linearGradient
              id="c"
              gradientUnits="userSpaceOnUse"
              x1="-874.103"
              y1="1302.263"
              x2="-680.039"
              y2="1302.263"
              gradientTransform="matrix(1 0 0 -1 1045.93 1658.759)"
              ><stop offset="0" stop-color="#e8e7e5"></stop><stop
                offset="1"
                stop-color="#fff"></stop></linearGradient
            ><path
              d="M171.827 280.258l3.234 40.199 144.625.461-3.235 53.598-47.59 13.398-45.748-11.551-2.772-33.268h-42.508l5.545 64.225 85.945 25.412 85.479-24.951 11.09-127.523H171.827z"
              fill="url(#c)"></path><path
              d="M269.168 280.258h-97.49l3.233 40.199 94.257.301v-40.5zm0 107.528l-.462.129-45.742-11.551-2.772-33.268h-42.507l5.544 64.225 85.939 25.412v-44.947z"
              opacity=".05"></path><linearGradient
              id="d"
              gradientUnits="userSpaceOnUse"
              x1="-883.032"
              y1="1442.031"
              x2="-672.341"
              y2="1442.031"
              gradientTransform="matrix(1 0 0 -1 1045.93 1658.759)"
              ><stop offset="0" stop-color="#e8e7e5"></stop><stop
                offset="1"
                stop-color="#fff"></stop></linearGradient
            ><path
              d="M162.898 196.167H373.59l-4.157 41.122H167.98l-5.082-41.122z"
              fill="url(#d)"></path><path
              d="M269.168 196.167h-106.27l5.082 41.122h101.188v-41.122z"
              opacity=".05"></path></svg
          >
          <p>CSS3</p>
        </div>
        <div
          class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-rose-300 duration-300 bg-gray-100 px-7 py-2 flex flex-col items-center justify-center rounded-md border-2 border-gray-400 shadow-xl"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 256 283"
            preserveAspectRatio="xMidYMid"
            ><path
              d="M239.973 139.203c0-14.534-11.782-26.316-26.316-26.316-.935 0-1.857.05-2.766.145L247.036 6.427H93.432l36.094 106.513a26.437 26.437 0 0 0-1.6-.053c-14.533 0-26.315 11.782-26.315 26.316 0 11.748 7.699 21.694 18.326 25.078-5.613 9.722-12.675 18.478-20.693 26.042-10.903 10.286-23.381 18.085-36.876 22.891-16.068-8.254-23.656-26.612-16.81-42.707.774-1.817 1.563-3.66 2.318-5.494 11.64-2.717 20.314-13.153 20.314-25.621 0-14.534-11.782-26.316-26.316-26.316-14.535 0-26.317 11.782-26.317 26.316 0 8.913 4.435 16.784 11.213 21.545-6.514 14.831-16.088 30.351-19.071 48.339-3.575 21.559-.011 44.443 18.634 57.366 43.424 30.096 90.56-18.657 140.259-30.913 18.01-4.442 37.782-3.726 53.65-12.917 11.918-6.902 19.774-18.34 22.004-31.182 2.202-12.686-1.01-25.317-8.393-35.559a26.207 26.207 0 0 0 6.12-16.868zm-85.732.093l.003-.093c0-9.544-5.082-17.902-12.686-22.515l28.728-58.091 28.778 58.707c-7.067 4.718-11.724 12.764-11.724 21.899 0 .192.01.381.015.572l-33.114-.479z"
              fill="#C63D14"></path><path
              d="M246.399 139.203c0-15.985-11.517-29.323-26.688-32.172L256 0H84.466l36.344 107.248c-14.643 3.259-25.627 16.345-25.627 31.955 0 11.723 6.195 22.02 15.48 27.806-4.466 6.653-9.762 12.914-15.831 18.639-9.624 9.08-20.347 15.966-31.907 20.496-11.643-7.314-16.565-21.106-11.453-33.122l.4-.94.751-1.768c12.788-4.459 21.993-16.632 21.993-30.922 0-18.055-14.689-32.743-32.744-32.743S9.129 121.337 9.129 139.392c0 9.113 3.745 17.365 9.773 23.307a551.638 551.638 0 0 1-3.423 7.124C9.967 181.144 3.72 193.976 1.357 208.225c-4.693 28.299 2.876 50.921 21.313 63.699 11.188 7.754 22.549 10.804 33.982 10.803 21.529-.001 43.306-10.816 64.606-21.396 15.341-7.619 31.203-15.498 46.872-19.362 5.83-1.438 11.829-2.303 18.18-3.219 12.594-1.817 25.618-3.695 37.154-10.376 13.371-7.745 22.525-20.737 25.113-35.644 2.222-12.797-.453-25.613-6.975-36.483a32.544 32.544 0 0 0 4.797-17.044zm-12.854 0c0 10.967-8.922 19.89-19.89 19.89-10.966 0-19.889-8.923-19.889-19.89s8.923-19.889 19.889-19.889c10.968 0 19.89 8.922 19.89 19.889zm4.524-126.349l-32.045 94.513a32.348 32.348 0 0 0-4.058 1.258L170.31 44.047l-31.748 64.196a32.34 32.34 0 0 0-4.232-1.15l-31.935-94.239h135.674zm-110.143 106.46c10.967 0 19.889 8.922 19.889 19.889 0 10.967-8.922 19.89-19.889 19.89-10.966 0-19.889-8.923-19.889-19.89s8.923-19.889 19.889-19.889zm-86.054.189c10.968 0 19.89 8.922 19.89 19.889 0 10.967-8.922 19.89-19.89 19.89-10.966 0-19.889-8.923-19.889-19.89s8.923-19.889 19.889-19.889zm194.04 71.028c-1.935 11.148-8.821 20.887-18.891 26.719-9.387 5.437-20.636 7.06-32.546 8.777-6.38.92-12.978 1.872-19.423 3.462-17.042 4.202-33.549 12.401-49.512 20.33-31.945 15.867-59.534 29.569-85.547 11.54-19.055-13.206-18.175-37.641-15.955-51.031 2.057-12.405 7.619-23.83 12.998-34.879a748.863 748.863 0 0 0 2.722-5.646 32.459 32.459 0 0 0 8.462 2.124c-5.475 18.071 3.136 37.719 21.209 47.004l2.473 1.271 2.62-.933c14.288-5.088 27.453-13.254 39.131-24.271 7.549-7.121 14.036-15 19.37-23.419a32.9 32.9 0 0 0 4.903.368c18.055 0 32.744-14.688 32.744-32.744 0-9.71-4.253-18.442-10.989-24.444l20.578-41.612 20.787 42.405c-6.237 5.966-10.134 14.359-10.134 23.651 0 18.056 14.688 32.744 32.743 32.744a32.549 32.549 0 0 0 18.672-5.868c3.68 7.533 5.051 16.009 3.585 24.452z"
              fill="#FFF"></path></svg
          >
          <p>Jest</p>
        </div>
      </div>
    </div>
    <div class="bg-neutral-100 shadow-xl rounded-xl p-10">
      <div class="flex gap-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-user"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
            d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg
        >
        <p></p>
      </div>

      <div class="bg-gray-400 h-px my-4 rounded-md"></div>

      <div class="w-full h-full flex justify-center">
        <img
          src="/assests/photo-confondo.png"
          alt="Profile"
          class="w-52 h-52 rounded-xl"
        />
      </div>
    </div>
    <div class="bg-neutral-100 shadow-xl rounded-xl p-10">
      <div class="flex gap-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
            d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
        >
        <p></p>
      </div>

      <div class="bg-gray-400 h-px my-4 rounded-md"></div>
      <div>
        <p class="text-xl">"Once you stop learning you start dying."</p>
        <p class="text-right">-Albert Einstein</p>
      </div>
    </div>
  </div>
</Layout>

<style></style>
