---
interface Props {
  title: string;
  href: string;
  className?: string;
}

const { title, href, className } = Astro.props;
---

<div class=`bg-neutral-100 shadow-xl rounded-xl p-10 ${className}`>
  <div class="flex items-center justify-between">
    <h2 class="font-bold text-2xl mb-2">{title}</h2>
    <a href={href} target="_blank" rel="noopener noreferrer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-circle-arrow-up-right w-8 hover:scale-125 duration-200 hover:stroke-blue-500"
        ><path stroke="none" d="M0 0h28v28H0z" fill="none"></path><path
          d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path><path d="M15 9l-6 6"
        ></path><path d="M15 15v-6h-6"></path></svg
      ></a
    >
  </div>
  <slot name="description" />
  <div class="bg-gray-400 h-px my-4 rounded-md"></div>
  <div>
    <slot name="content" />
  </div>
</div>
