---
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --background-color: #f8cbb6;

    color-scheme: light;
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  html {
    font-family: "Ubuntu", system-ui, sans-serif;
    background: var(--background-color);
    background-size: 224px;
  }
  body {
    cursor: url("/assests/photo-confondo.png"), auto;
  }
</style>
